:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
}

/* Основной цвет текста  #212121*/
/* Вспомогательный цвет текста  #FFFFFF #757575 rgba(255, 255, 255, 0.6) */

/* Акцент #2196F3 */
body {
  background-color: #e5e5e5;
  color: #212121;
}

.list {
  list-style: none;
}

/* Site-nav */

.logo {
  color: #2196f3;
}

.site-nav {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
